<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align: center">
  <div class="container">
    <div class="row header">
      <div class="col-md-12">
          <carousel>
              <slide>
                <img src="./assets/all-men-must-die.jpg" alt="first slide" style="display: block;height: 250px; width: 100%;">
                <div class="carousel-caption d-none d-md-block">
                  
                </div>
              </slide>
              <slide>
                <img src="./assets/Valar-morghulis.jpg" alt="second slide" style="display: block;height: 250px; width: 100%;">
                <div class="carousel-caption d-none d-md-block">
                  
                </div>
              </slide>
              <slide>
                <img src="./assets/game-of-thrones-logo.jpg" alt="third slide" style="display: block;height: 250px; width: 100%;">
                <div class="carousel-caption d-none d-md-block">
                  
                </div>
              </slide>
            </carousel>
      </div>
    </div>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" [routerLink]="['/home']">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" [routerLink]="['/about']">About</a>
            <a class="nav-item nav-link" [routerLink]="['/create']">Latest News</a>
            
          </div>
        </div>
      </nav>

      <h2 style="color:#22a582">Welcome to World of GOT</h2>
      
  </div>
  <router-outlet></router-outlet>
  </div>
  
  

